<div class="input-style">
    <input
      id="text-input"
      [ngClass]="{ 'input-error': isFieldValid()  }"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="changeValue()"
      [(ngModel)]="value"
      [type]="type"
      [disabled]="disabled"
      [placeholder]="placeholder"
    />
    <label
      class="label"
      [ngClass]="{ 'has-content': value, 'label-error': isFieldValid() }"
      (click)="inputFocus()"
    >
      <i [ngClass]="icon" style="margin-right: 12px;"></i>
      <span>{{label}}</span>
    </label>
    <div class="alert-message" *ngIf="isFieldValid()">
      <i class="mdi mdi-alert-circle-outline me-1"></i>
      <span>{{errorMessage}}</span>
    </div>
</div>
