<div class="button-size" [ngStyle]="{'background-color': buttonColor}">
    <div></div>
    <div *ngIf="label">{{label}}</div>
    <div *ngIf="!label" class="content">
        <ng-content></ng-content>
    </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 