<div class="button-size" [ngStyle]="{'background-color': buttonColor}">
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 