.navbar {
    
    display: flex;
    align-items: center;

    min-height: 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    .logo {

        margin-left: 32px;
        img {
            width: 32px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            margin: 0 24px;
        }
    }

    .nav-options {
        display: flex;
        justify-content: flex-end;
    }
}