<div>
  <nav class="d-flex flex-row navbar">
    <div class="logo">
      <img src="../assets/nightcycle-logo.png" alt="">
      <label>Night Cycle</label>
    </div>
    <ul>
      <li>O que fazemos?</li>
      <li>Cursos disponíveis</li>
      <li>Planos</li>
      <li>Suporte</li>
    </ul>
  </nav>
  <div class="nav-options">
    <label for="">Entrar</label>
    <!-- TODO COLOCAR O BOTAO DE CADASTRAR -->
    <label for="">Cadastrar</label>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
