<div class="d-flex flex-column">
    <section class="home-section">
        <div class="text-box">
            <label class="title">{{'home_screen.produtivity' | translate}}</label>
            <p class="subtitle">{{'home_screen.produtivity_subtitle' | translate}}</p>
            <ch-buttom (click)="goToLogin()" [style]="'font-weight: bold'" [label]="'home_screen.increase_produtivity' | translate"></ch-buttom>
        </div>
        <div class="img-panel">
            <img src="../../../assets/svgs/home/Team goals-rafiki.svg" alt="">
        </div>
    </section>
    <section class="d-flex flex-column" style="background-color:white;padding: 100px 0;">
        <h1 style="color:black;font-weight:bold;width: 100%; text-align: center;font-size: 2rem;">{{'home_screen.reach_goals' | translate}}</h1>
        <div class="card-list">
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-school"></i>
                    <p style="word-wrap: break-word;">{{'home_screen.goal_cards' | translate}}</p>
                </div>
            </div>
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-progress-clock"></i>
                    <p style="word-wrap: break-word;">{{'home_screen.goal_cards' | translate}}</p>
                </div>
            </div>
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-account-question"></i>
                    <p style="word-wrap: break-word;">{{'home_screen.goal_cards' | translate}}</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="img-panel">
            <img src="../../../assets/svgs/home/Consulting-rafiki.svg" alt="">
        </div>
        <div class="text-box">
            <label class="title">{{'home_screen.schedule' | translate}}</label>
            <p class="subtitle">{{'home_screen.schedule_subtitle' | translate}}</p>
        </div>        
    </section>
</div>