<div class="d-flex flex-column">
    <section style="height: 85vh;">
        <div class="text-box">
            <label class="title">Aumente a produtividade da sua equipe com Metodologias Ágeis</label>
            <p class="subtitle">Nossos cursos e mentorias auxiliam e melhoram seus processos internos</p>
            <ch-buttom (click)="goToLogin()" style="width: 50%;"><label style="font-weight:bold;cursor:pointer">Aumente minha produtividade</label></ch-buttom>
        </div>
        <img src="../../../assets/svgs/home/Team goals-rafiki.svg" alt="" style="width:50%">
    </section>
    <section class="d-flex flex-column" style="background-color:white;padding: 100px 0;">
        <h1 style="color:black;font-weight:bold;width: 100%; text-align: center;font-size: 2rem;">Alcance metas com nossas soluções</h1>
        <div class="card-list">
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-school"></i>
                    <p style="word-wrap: break-word;">Aprenda com rapidez e facilidade com nossos cursos sobre métodologias ágeis desenvolvida por profissionais</p>
                </div>
            </div>
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-progress-clock"></i>
                    <p style="word-wrap: break-word;">Aprenda com rapidez e facilidade com nossos cursos sobre métodologias ágeis desenvolvida por profissionais</p>
                </div>
            </div>
            <div class="p-2 mt-3 col-12 col-lg-4">
                <div class="card">
                    <i class="mdi mdi-account-question"></i>
                    <p style="word-wrap: break-word;">Aprenda com rapidez e facilidade com nossos cursos sobre métodologias ágeis desenvolvida por profissionais</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <img src="../../../assets/svgs/home/Consulting-rafiki.svg" alt="" style="width:50%">
        <div class="text-box" style="margin-right: 100px;">
            <label class="title">Agende uma consutoria para adequar sua equipe</label>
            <p class="subtitle">Nossos profissionais estão sempre prontos para ajustar as estratégias da sua equipe</p>
        </div>
        
    </section>
</div>