section {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .text-box {

        margin-left: 100px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: bold;
        }

        .subtitle {
            margin: 16px 0;
            width: 100%;
        }
    }

    .card-list {

        margin: 0 100px;

        .card {
            padding: 30px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            justify-content: center;
            align-items: center;
            margin: 0 25px;

            p {
                text-align: center;
            }
        }

        i {
            margin-bottom: 25px;
            font-size: 3rem;
        }
    }
}