// All SCSS VARIABLES

/** Breakpoints */
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

/** Grid */
$grid-columns: 12;

/** Fonts */
$font-montserrat: "Montserrat", sans-serif;
$font-prompt: "Prompt", sans-serif;